In [1]:
import findspark

In [1]:
from pyspark import SparkContext
from pyspark.sql import SQLContext, Row
sc = SparkContext()

In [12]:
from pyspark.sql.functions import unix_timestamp, from_unixtime, lit

In [2]:
sqlContext = SQLContext(sc)

In [3]:
l = [('Felipe',25),('Nacho',22),('Nico',20),('Francisco',26)]
rdd = sc.parallelize(l)
people = rdd.map(lambda x: Row(name=x[0], age=int(x[1])))
df = sqlContext.createDataFrame(people)

In [5]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [6]:
df.show()

+---+---------+
|age|     name|
+---+---------+
| 25|   Felipe|
| 22|    Nacho|
| 20|     Nico|
| 26|Francisco|
+---+---------+

In [20]:
df.withColumn('date_str', lit("17/10/1990")).select('date_str', 
    from_unixtime(unix_timestamp('date_str', 'dd/MM/yyyy')).alias('date')
).show()

+----------+-------------------+
|  date_str|               date|
+----------+-------------------+
|17/10/1990|1990-10-17 00:00:00|
|17/10/1990|1990-10-17 00:00:00|
|17/10/1990|1990-10-17 00:00:00|
|17/10/1990|1990-10-17 00:00:00|
+----------+-------------------+